.menu__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.menu__now {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.menu__now:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.menu__now-img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.menu__now h3 {
  margin: 1.2rem 0 2rem;
}

.menu__now-cta {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ========== MEDIUM DEVICE (TABLET) ========================= */
@media screen and (max-width: 1024px) {
  .menu__container {
    grid-template-columns: 1fr;
  }

  .menu__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .menu__now {
    padding: 1rem;
  }
}

/* ========== MEDIUM DEVICE (TABLET) ========================= */
@media screen and (max-width: 600px) {
  .menu__container {
    gap: 1rem;
  }

  .menu__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
