.menu__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.menu__now {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.menu__now:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.menu__now-img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.menu__now h3 {
  margin: 1.2rem 0 2rem;
}

.menu__now-cta {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
